<section data-ng-controller="HomeController">
	<br />
	<div class="well">
		<h2 class="brand-color">RU Hiring</h2>
		<p>
			RU Hiring is a resource that allows sutdents to create Resume profiles. Faculty
			search through these resume's to recruit people for projects.
		</p>
	</div>
	<section data-ng-controller="ResumesController" data-ng-init="find()">
			<div class="page-header">
					<h1>Resumes</h1>
			</div>
			<div class="list-group">
					<a data-ng-repeat="resume in resumes" data-ng-href="#!/resumes/{{resume._id}}" class="list-group-item">
				<p>
					<img data-ng-if="resume.picture !== ''" style="max-width: 100px; float: left; padding: 0 11px 0 0;" src="{{resume.picture}}" alt="resume.name" class="img-circle">
				</p>
				<small class="list-group-item-text">
					Updated on
					<span data-ng-bind="resume.created | date:'medium'"></span>
				</small>
				<h4 class="list-group-item-heading" data-ng-bind="resume.name"></h4>
				<blockquote data-ng-if="resume.quote !== ''">
					<h3 style="display: inline">"</h3>{{resume.quote}}
				</blockquote>
				<p data-ng-bind="resume.description">

				</p>
					</a>
			</div>
			<div class="alert alert-warning text-center" data-ng-hide="!resumes.$resolved || resumes.length">
				No Resumes yet, why don't you <a href="/#!/resumes/create">create one</a>?
			</div>
	</section>

</section>
